body {
	background-color: #f6f6f6;
}

.container{
	position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 600px;
	height: 35%;
}

#mainInput{
	text-indent: 50px;
	width: 100%;
	box-shadow: none;
	outline: none;
	border: 1px solid lightgrey;
	border-radius: 25px;
	font-size: 2em;
}

#secondaryInput{
	margin-top: 10px;
	text-indent: 50px;
	width: 100%;
	box-shadow: none;
	outline: none;
	border: 1px solid lightgrey;
	border-radius: 25px;
	font-size: 2em;
}

#mainMag { 
  position: absolute;
  top: 77px;
  left: 45px;
	font-size: 2em;
}

#secondaryMag { 
  position: absolute;
  top: 18px;
  left: 30px;
	font-size: 2em;
}


.random{
	margin: 8px;
}

h5{
	color: black;
}

.col-lg-12 {
	border-bottom: 1px solid white;
}

.btn{
	margin: 10px;
}

a:hover{
	text-decoration: none;
}